.Home {
  background:
    url(./images/background-mobile.jpg)
    no-repeat
    center
    center
    #212020;
  background-size: cover;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}

.Home-logo-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-top: 9.9375rem;
  max-width: 33.375rem;
  width: 80%;
}

.Home-logo {
  display: inline-block;
  opacity: 0;
  width: 100%;
}

.Home-logo.fadeIn {
  opacity: 1;
}

.Home-feature {
  bottom: 18%;
  left: 0;
  padding-left: 2.125rem;
  position: absolute;
  text-align: left;
}

.Home-title {
  color: #F1F0F0;
  font-size: 2.25rem;
  margin-bottom: 0;
  text-transform: capitalize;
}

.Home-bar {
  background-color: #1D7452;
  display: inline-block;
  height: 1px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 12.875rem;
}

.Home-sub-title {
  color: #aaa;
  margin-top: 0;
  font-size: 1.25rem;
}

.Home-btn-container {
  display: none;
}

.Home-footer {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  padding-bottom: 1.1875rem;
  right: 0;
}

.Home-footer-copy {
  color: #1D7452;
  font-size: 0.625rem;
  padding-bottom: 0.8125rem;
  text-transform: uppercase;
}

.Home-whiplash-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 8.625rem;
}

.Home-whiplash {
  display: inline-block;
  opacity: 0;
  margin-left: -0.3rem;
  width: 100%;
}

.Home-whiplash.fadeIn {
  opacity: 1;
}



/*===========================================
                BREAKPOINTS
===========================================*/
@media only screen and (min-width: 768px) {
  .Home {
    background:
      url(./images/background-desktop.jpg)
      no-repeat
      center
      center
      #212020;
    background-size: cover;
  }

  .Home-logo-wrapper {
    padding-top: 5.9375rem;
  }

  .Home-feature {
    bottom: initial;
    left: initial;
    padding-top: 5.25rem;
    position: relative;
    text-align: center;
  }

  .Home-title {
    font-size: 3rem;
    letter-spacing: 0.158125rem;
  }

  .Home-sub-title {
    font-size: 1.875rem;
    list-style: 0.178125rem;
  }

  .Home-btn-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 4.9375rem;
  }

  .Home-footer {
    left: 1rem;
  }

  /* overrides */

  .Home .Button:first-of-type {
    margin-left: 0;
  }
}


@media only screen and (min-width: 1480px) {
  .Home-logo-wrapper {
    padding-top: 10%;
  }

  .Home-feature {
    bottom: 0;
    height: 21.875rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 43.5rem;
  }
}
